
#  "@tailwindcss/postcss7-compat": "^2.2.7",
#     "autoprefixer": "^10.4.2",
#     "postcss": "^8.4.7",
#     "purgecss": "3.0.0",
#     "tailwindcss": "^3.0.23"

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
package-lock.json

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

package-lock.json
